<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestCase">
	<test name="Settings">
		<parameter name="emailid" value="tester456@gmail.com" />
		<parameter name="password" value="test@123" />
		<classes>
			<class name="am.itu.qa.HomeTest.HomeTest" />
		</classes>
		</test>
</suite> <!-- Suite -->